*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(39, 39, 39);
    font-family: sans-serif;
    text-align: center;
}

head{
    color: rgb(37, 37, 37);
    font-family: sans-serif;
}

header{
    display: flex;
    background-color: purple;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

header h1{
    color: rgb(36, 36, 36);
    border-bottom: 2px solid white;
}

ul li a{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: rgb(36, 36, 36);
    border-bottom: 3px solid white;
}

section{
    width: 800px;
    height: 400px;
    background-color: rgb(29, 29, 29);
    margin-top: 10px;
    margin-left: 10px;
    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #665;
}

section h1{
    color:blueviolet;
    padding: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}

section .link-container, .format-container, .button-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 500px;
}

section .link-container label, .format-container label{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

section .link-container input, .format-container select{
    outline: none;
    height: 35px;
    border-radius: 5px;
    padding: 0 10px;
    border: 2px solid #665;
    font-size: 14px;
}

section .button-container button{
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: blueviolet;
    letter-spacing: 1px;
    cursor: pointer;
}